<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- pattern="%d{ISO8601} {%-5level} [%t] [trace_id=%X{trace_id}, span_id=%X{span_id}, trace_flags=%X{trace_flags}] %C{1.}: %msg%n%throwable" charset="UTF-8"/> -->
            <PatternLayout
                    pattern="%d{ISO8601} {%-5level} [%t] [trace_id=%X{trace_id}, span_id=%X{span_id}, trace_flags=%X{trace_flags}] %C{1.}: %msg%n%throwable" charset="UTF-8"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>

</Configuration>
